.theme-switcher {
  position: fixed;
  top: 10px;
  background-color: #ffffff;
  right: 0;
  z-index: 999;
  padding: 10px 15px 15px 15px;
  border: 1px solid #d4d4e3;
  border-radius: 0 0 0 5px;
  border-right: none;
  width: 150px;
  transform: translateX(100%);
  transition: all 0.3s ease;
}
.theme-switcher.open {
  transform: translateX(0%);
}
.theme-switcher h5 {
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  shape-margin: 8px;
  padding-bottom: 7px;
}
.theme-switcher ul {
  margin: 0;
  display: block;
}
.theme-switcher ul li {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 2px;
  cursor: pointer;
}
.theme-switcher .theme-toggler {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #ffffff;
  left: -46px;
  top: -1px;
  border: 1px solid #d4d4e3;
  border-right: none;
  border-radius: 5px 0 0 5px;
  text-align: center;
  cursor: pointer;
}
.theme-switcher .theme-toggler i {
  line-height: 43px;
  font-size: 20px;
}
